
body{
  
  background-image: url("image/images (1).jpeg");
  margin: 0%;
    background-size:cover ; 
    
}  
/* nav css */
header{
  z-index: 100f;
}
nav{
    z-index: 1;
    position: relative;
    height: 70px;
    
    margin: 0%;
    width: 100%;
    background-color: #00000096;
    
}
ul{
  position: absolute;
  font-size: 40px;
  display: flex;
  margin-right :20px;
  margin-left: 10%; 
  top: 13px;
  right: 70px;;
  
}

.logo {
  position: relative;
  top: 1px;
  left: 40px;
    width: 65px;
    border-radius: 50%;
    box-shadow:1px 1px 5px rgb(215, 238, 87); ;
}
.toBee{
  padding: 2px 10px;
  text-decoration: none;
  position:absolute;
  color: rgb(16, 15, 12);
  text-shadow: 1px 1px 5px rgb(215, 238, 87);
  margin: 0 0;
  letter-spacing: 2px;
  top: 5px;
  left: 110px;
  font-size:30px ;
  font-weight: bolder;
}.user_name{
  padding: 2px 10px;
  text-decoration: none;
  position:absolute;
  color: rgb(219, 172, 32);
    text-shadow: 1px 1px 5px rgb(215, 238, 87);
  margin: 0 0;
  letter-spacing: 2px;
  top: 35px;
  left: 110px;
  font-size:20px ;
  font-weight: bolder;
}


  .nav_b:link:hover ,.nav_b:hover {
    color: rgb(0, 0, 0);
    background: linear-gradient(yellow,orange,brown) 
    
  }
  .nav_b{
    color: #ffffff;
    border-left: #000000 solid 1px;
    
  }

  .nav_b:link {
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    position:relative;
    top: -35px;
    margin: 5px ;
    letter-spacing: 2px;
    font-size:20px ;
  }
  .search-container {
    top:5px;

    right: 435px;;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position:absolute;
  }
  
  #search {
    
    padding: 0.5rem;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    width: 300px;
    background-color: #dad3adc0;
  }
  
  #search-button {
    background-color: rgb(208, 181, 93);
    color: #030000;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: rgb(248, 192, 7);
  }
  #search:hover{
    border: 1px solid #000000b7;
    color: black;
    background:linear-gradient(yellow,orange);
  }
  #search:focus{
    border: 1px solid #000000b7;
    color: black;
    background:linear-gradient(yellow,orange);
  }
  #car_icon{
    font-size: 40px;
    text-shadow: 0px 0px 6px #ffffff;
    right: 2%;
    top: 15px;
    position: absolute;
    cursor: pointer;

  }
  .settings{
    position: relative;
    left:  1150px;
    top: 45px;
    color: rgba(255, 255, 255, 0.894);
    font-size: 35px;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
    z-index: 0;
  }
  /* cart  */
  .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    z-index: 100;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(252, 198, 20);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    
  }
  .cart-content{
    overflow-x: hidden;
    background-color: rgba(15, 15, 14, 0.175);
    overflow-y: scroll;
    border-radius: 12px 0 0 12px;
    height:400px ;
    border: #000000 solid 1px;
  }
  .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }
  .cart.active{
    right: 0;
  }
  .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    /* border:  red 1px dashed; */
    box-shadow: 0px 1px 5px;
  }
  .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
  
  }
  .detail-box{
    display: grid;
    row-gap: 0.5rem;

  }
  .cart-product-title{
    font-size: 1.5rem;
    text-transform: uppercase;
  

  }
  .cart-price{
    font-weight: 500;
  }
  .cart-quantity{
    border: 1px solid black;
    outline-color:rgb(8, 8, 8) ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    
  }
  .cart-remove{
    font-size: 24px;
    color: black;
    cursor:pointer;
  }
  .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
  }
  .total-title{
    font-size: 1rem;
    font-weight: 600;
  }
  .total-price{
    margin-left: 0.5rem;
  }
  .btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: rgba(255, 145, 0, 0.89)(255, 145, 0);
    color: black;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  .btn-buy:hover{
    background: linear-gradient(yellow,orange) 
  }
  #close-cart{
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }
  #commande_popup.on{
    display:grid;
    /* background-color: #40754C; */
  }
  #commande_popup {
    text-align: center;
    /* display: none; */
    background-color: rgb(246, 232, 186);
    position: absolute;
    left: 500px;
    font-size: 25px;
    top:200px;
    width: 300px;
    height: 150px;
    border-radius: 12px;
    border: 5px solid black;
    z-index: 100;
    
  }
  .commande_remove{ color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
    cursor: pointer;}
/* content css */
.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
section{
  padding:1rem 0 3rem ;
}
.section-title{

  font-size:3rem;
  font-weight: 1000;
  text-align: center;
  
}
.shop{
  margin-top: 2rem;
}
.shop-content{

display: grid;
grid-template-columns: repeat(auto-fit,minmax(230px,auto));
gap: 1.5rem;
}
.product-box{
  padding: 10px;
  position: relative;
  color: #ffffffdd;
  width: 220px;
  border: #000000 solid 2px;
  border-radius: 15px;
  overflow: auto;
  background-color:rgba(83, 70, 2, 0.764)
}
.product-box:hover{
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.746);
  transition: 0.5s;
  background-color: #03000018;
}
.product_img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 0.5rem;
}
.product-title{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price{
  font-weight: 500;
}
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px 0 0 0;
  padding: 10px;
  cursor: pointer;
}
.cart-remove{
  color: rgb(255, 255, 255);
  top: -50px;
  right: 10px;
  font-size:30px;
  width: 25px;
  height: 25px;
  position: relative;
  padding: 4px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.962);
}
.item-box{
  border: solid black 1px;
}




footer {
    background-color: #333333bd;
    color: rgb(248, 192, 7);
    
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info {
    position: relative;
    left: 30px;
    margin-bottom: 10px;
    font-size: 13px;
}

.contact-button {
    top: 30px;
    right: 3%;
    background-color: rgb(248, 192, 7);
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
}
.footer_logo{
    width: 110px;
    position: absolute;
    top: -5px;
    left: 45%;
}

/* popup */
.popup_container.show{
  display:grid;
  /* background-color: red; */
}
.popup_container{
  /* display: none; */
  background-color: rgb(246, 232, 186);
  position: absolute;
  left: 378px;
  top:100px;
  width: 500px;
  height: 450px;
  border-radius: 12px;
  border: 5px solid black;
  z-index: 100;
  
}
.popup_img{
  width: 300px;
  height: 300px;
  position: relative;
  top:20px;
  left: 100px;
  border-radius: 20px;
}
.popup_title{
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: rgb(88, 65, 19);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.popup_price{
  position: relative;
  font-size: 20px;
  left: 200px;
  top: -20px;
  color: rgb(74, 56, 16);
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  border: #000000 2px solid;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 3px 0px;
  background-color: rgb(216, 164, 31);
}
.err_message{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  border-radius: 15px;
  left:10% ;
}
.popup_remove {
  color: #000000;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  cursor: pointer;
}
.msg{
  width: 80%;
  height: 40px;
  position: relative;
  font-size: 25px;
  text-align: center;
  top: 10%;
  border-radius: 15px;
  left:10% ;
  margin: 10px 0px;
  background-color: rgba(232, 98, 80, 0.78);
}
/* scrollbar */
::-webkit-scrollbar{
  width:10px ;
}
::-webkit-scrollbar-track{
  background-color: rgba(0, 2, 3, 0.426);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(200, 118, 17),rgb(30, 9, 9));
  border-radius: 12px;
}